body {
  font-family: Pixelify Sans;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://izumiihd.github.io/pixelitcdn/assets/background.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}

.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
  text-align: center;
  background-color: #6f057a;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .container-404 {
    width: 300px;
    height: 300px;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content {
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .center-content {
    max-width: 200px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
  }
}

.title {
  font-size: 245px;
  margin: 0px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 75px;
    margin: 0px;
    color: #ffffff;
  }
}

.description {
  font-size: 1.5em;
  margin: 20px 0;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 1em;
    margin: 10px 0;
    color: #ffffff;
  }
}

.home-button {
  background-color: #6f057a;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #55045e;
}

.img {
  width: 180px;
  height: 180px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 600px) {
  .img {
    width: 60px;
    height: 60px;
    cursor: pointer
  }
}