body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
}

.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 600px) {
  .navbar {
    border-radius: 0;
    box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  .navbar a, .dropdown .dropbtn {
    float: none;
    display: block;
    padding: 10px;
  }
  .dropdown-content {
    position: relative;
    box-shadow: none;
    border-radius: 0;
  }
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}

.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

@media screen and (max-width: 600px) {
  .title_p {
    display: none;
  }
}

.container {
  width: 50%;
  background: radial-gradient(circle, #61056b, #6f057a);
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 5%;
  overflow-y: auto;
  max-height: 80vh;
}

@media screen and (max-width: 600px) {
  .container {
    width: 83%;
    left: 5%;
  }
}

.pack {
  margin-bottom: 20px;
}

.pack h2 {
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  position: absolute;
  top: 75%;
  right: 4.7%;
  background-color: #ffffff;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.item {
  border-radius: 5px;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  border-radius: 5px;
}

.blook-details {
  position: absolute;
  top: 25%;
  right: 10%;
  background: radial-gradient(circle, #61056b, #6f057a);
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  color: white;
  width: 400px;
  height: 430px;
}

@media screen and (max-width: 600px) {
  .blook-details {
    display: none;
  }
}

.name {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.blook-details img {
  width: 160px !important;
  height: 160px !important;
  border-radius: 5px;
}

.blook-details h2 {
  font-size: 32px;
  margin-top: -10px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.blook-details p {
  margin: 5px 0;
}


.blook-details button {
  margin-top: 0px;
  font-family: Pixelify Sans;
  padding: 12px 18px;
  background-color: #6f057a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 150px;
  box-sizing: border-box;
  font-size: 26px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.blook-details button:hover {
  box-shadow: inset 0 -0.5vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
}

.button-container {
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #6f057a;
  margin: 15% auto;
  padding: 20px;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#sell-quantity {
  width: 215px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 70%;
  right: 175%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pixel-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pixel-info img {
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

.pixel-details p {
  margin: 5px 0;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #61056b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6f057a;
    border-radius: 10px;
    border: 3px solid #61056b;
}